body {
    background-color: #0f380f;
    color: #9bbc0f;
    display: flex;
    justify-content: center;
    
    min-height: 100vh;
    margin:0;
    padding-top: 10px;
}

#cuadricula {
    display: grid;
    grid-template-columns: repeat(10, clamp(24px, 9vmin, 120px));
    grid-template-rows: repeat(9, clamp(24px, 9vmin, 120px));
    gap: 1px;
}

.casilla {
    background-color: #8bac0f;
}